{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="window m-b-30">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <div class="avatar">
                                <span class="empty">Нет фото</span>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="fullname">Иванов Иван</div>
                            <div class="description">
                                В системе:
                                <span class="value">12 дней</span>
                            </div>
                            <div class="description">
                                Структура:
                                <span class="value">50 человек</span>
                            </div>
                            <div class="description">
                                Столы:
                                <span class="value">20$, 60$, 160$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="window m-b-30">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <div class="avatar">
                                <span class="empty">Нет фото</span>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="fullname">Иванов Иван</div>
                            <div class="description">
                                В системе:
                                <span class="value">12 дней</span>
                            </div>
                            <div class="description">
                                Структура:
                                <span class="value">50 человек</span>
                            </div>
                            <div class="description">
                                Столы:
                                <span class="value">20$, 60$, 160$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="window m-b-30">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <div class="avatar">
                                <span class="empty">Нет фото</span>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="fullname">Иванов Иван</div>
                            <div class="description">
                                В системе:
                                <span class="value">12 дней</span>
                            </div>
                            <div class="description">
                                Структура:
                                <span class="value">50 человек</span>
                            </div>
                            <div class="description">
                                Столы:
                                <span class="value">20$, 60$, 160$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="window m-b-30">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <div class="avatar">
                                <span class="empty">Нет фото</span>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="fullname">Иванов Иван</div>
                            <div class="description">
                                В системе:
                                <span class="value">12 дней</span>
                            </div>
                            <div class="description">
                                Структура:
                                <span class="value">50 человек</span>
                            </div>
                            <div class="description">
                                Столы:
                                <span class="value">20$, 60$, 160$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="window m-b-30">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <div class="avatar">
                                <span class="empty">Нет фото</span>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="fullname">Иванов Иван</div>
                            <div class="description">
                                В системе:
                                <span class="value">12 дней</span>
                            </div>
                            <div class="description">
                                Структура:
                                <span class="value">50 человек</span>
                            </div>
                            <div class="description">
                                Столы:
                                <span class="value">20$, 60$, 160$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="window m-b-30">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <div class="avatar">
                                <span class="empty">Нет фото</span>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="fullname">Иванов Иван</div>
                            <div class="description">
                                В системе:
                                <span class="value">12 дней</span>
                            </div>
                            <div class="description">
                                Структура:
                                <span class="value">50 человек</span>
                            </div>
                            <div class="description">
                                Столы:
                                <span class="value">20$, 60$, 160$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="window m-b-30">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <div class="avatar">
                                <span class="empty">Нет фото</span>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="fullname">Иванов Иван</div>
                            <div class="description">
                                В системе:
                                <span class="value">12 дней</span>
                            </div>
                            <div class="description">
                                Структура:
                                <span class="value">50 человек</span>
                            </div>
                            <div class="description">
                                Столы:
                                <span class="value">20$, 60$, 160$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="window m-b-30">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <div class="avatar">
                                <span class="empty">Нет фото</span>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="fullname">Иванов Иван</div>
                            <div class="description">
                                В системе:
                                <span class="value">12 дней</span>
                            </div>
                            <div class="description">
                                Структура:
                                <span class="value">50 человек</span>
                            </div>
                            <div class="description">
                                Столы:
                                <span class="value">20$, 60$, 160$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <button class="btn btn-primary">Ещё профили</button>
        </div>
    </div>
{% endblock %}