{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="window">
        <div class="header">
            <h3>Новости</h3>
        </div>
        <div class="content">
            <div class="news-item">
                <div class="col-xs-2 news-date">21.01.2016</div>
                <div class="col-xs-10 news-text">Как получить новую профессию, не выходя из дома. Если вы подумывали о том, что было бы неплохо приступить к изучению программирования, и ждали лишь знака свыше, это он. Буквально на днях стартует очередной бесплатный онлайн-курс «Основы программирования». Теория и практика здесь упакованы в четыре занятия, которые разделены на две недели.</div>
            </div>
            <div class="news-item">
                <div class="col-xs-2 news-date">21.01.2016</div>
                <div class="col-xs-10 news-text">Как получить новую профессию, не выходя из дома. Если вы подумывали о том, что было бы неплохо приступить к изучению программирования, и ждали лишь знака свыше, это он. Буквально на днях стартует очередной бесплатный онлайн-курс «Основы программирования». Теория и практика здесь упакованы в четыре занятия, которые разделены на две недели.</div>
            </div>
            <div class="news-item">
                <div class="col-xs-2 news-date">21.01.2016</div>
                <div class="col-xs-10 news-text">Как получить новую профессию, не выходя из дома. Если вы подумывали о том, что было бы неплохо приступить к изучению программирования, и ждали лишь знака свыше, это он. Буквально на днях стартует очередной бесплатный онлайн-курс «Основы программирования». Теория и практика здесь упакованы в четыре занятия, которые разделены на две недели.</div>
            </div>
            <div class="news-item">
                <div class="col-xs-2 news-date">21.01.2016</div>
                <div class="col-xs-10 news-text">Как получить новую профессию, не выходя из дома. Если вы подумывали о том, что было бы неплохо приступить к изучению программирования, и ждали лишь знака свыше, это он. Буквально на днях стартует очередной бесплатный онлайн-курс «Основы программирования». Теория и практика здесь упакованы в четыре занятия, которые разделены на две недели.</div>
            </div>
            <div class="news-item">
                <div class="col-xs-2 news-date">21.01.2016</div>
                <div class="col-xs-10 news-text">Как получить новую профессию, не выходя из дома. Если вы подумывали о том, что было бы неплохо приступить к изучению программирования, и ждали лишь знака свыше, это он. Буквально на днях стартует очередной бесплатный онлайн-курс «Основы программирования». Теория и практика здесь упакованы в четыре занятия, которые разделены на две недели.</div>
            </div>
            <div class="news-item">
                <div class="col-xs-2 news-date">21.01.2016</div>
                <div class="col-xs-10 news-text">Как получить новую профессию, не выходя из дома. Если вы подумывали о том, что было бы неплохо приступить к изучению программирования, и ждали лишь знака свыше, это он. Буквально на днях стартует очередной бесплатный онлайн-курс «Основы программирования». Теория и практика здесь упакованы в четыре занятия, которые разделены на две недели.</div>
            </div>
            <div class="news-item">
                <div class="col-xs-2 news-date">21.01.2016</div>
                <div class="col-xs-10 news-text">Как получить новую профессию, не выходя из дома. Если вы подумывали о том, что было бы неплохо приступить к изучению программирования, и ждали лишь знака свыше, это он. Буквально на днях стартует очередной бесплатный онлайн-курс «Основы программирования». Теория и практика здесь упакованы в четыре занятия, которые разделены на две недели.</div>
            </div>
            <div class="news-item">
                <div class="col-xs-2 news-date">21.01.2016</div>
                <div class="col-xs-10 news-text">Как получить новую профессию, не выходя из дома. Если вы подумывали о том, что было бы неплохо приступить к изучению программирования, и ждали лишь знака свыше, это он. Буквально на днях стартует очередной бесплатный онлайн-курс «Основы программирования». Теория и практика здесь упакованы в четыре занятия, которые разделены на две недели.</div>
            </div>
        </div>
    </div>
{% endblock %}