@font-face {
    font-family: 'P22UndergroundCYPro-Book';
    src: url('../fonts/P22UndergroundCYPro-Book/P22UndergroundCYPro-Book.eot');
    src: url('../fonts/P22UndergroundCYPro-Book/P22UndergroundCYPro-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/P22UndergroundCYPro-Book/P22UndergroundCYPro-Book.woff') format('woff'),
         url('../fonts/P22UndergroundCYPro-Book/P22UndergroundCYPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'P22UndergroundCYPro-Heavy';
    src: url('../fonts/P22UndergroundCYPro-Heavy/P22UndergroundCYPro-Heavy.eot');
    src: url('../fonts/P22UndergroundCYPro-Heavy/P22UndergroundCYPro-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/P22UndergroundCYPro-Heavy/P22UndergroundCYPro-Heavy.woff') format('woff'),
         url('../fonts/P22UndergroundCYPro-Heavy/P22UndergroundCYPro-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
