@import "bootstrap";

@image-path: "../img";

.registration-form {
  .form-group {
    ul {
      list-style-type: square;
      padding-left: 25px;
      text-align: left;
    }
  }
}

html, body {
  height: 100%;
}

body {
//  background-repeat: no-repeat;
  background-color: #d2d2cd;
  @media (max-width: @screen-xs-max) {
    background-image: url("@{image-path}/background_640.jpg");
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    background-image: url("@{image-path}/background_800.jpg");
  }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    background-image: url("@{image-path}/background_1024.jpg");
  }
  @media (min-width: @screen-lg-min) {
    background-image: url("@{image-path}/background_1920.jpg");
  }
}

.header {
  padding: 25px 0;
  .logo {
    vertical-align: middle;
  }
  .logo-words {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }
  .user-control {
    margin-top: 14px;
  }
  .username, .notifications, .logout {
    display: inline-block;
    vertical-align: middle;
  }
  .username {
    font-size: 28px;
  }
  .notifications {
    margin: 0 34px;
  }
  .logout {
    font-size: 18px;
  }
}

.wrapper {
  height: 100%;
  margin-bottom: -60px;
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(182, 182, 182, 0.6);
  }
  .menu-item {
    border-bottom: 1px solid #babab8;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    &:last-child {
      border: 0;
    }
    &.current {
      background-color: #1cca5a;
    }
    a {
      color: #626262;
      &:hover, &:focus {
        text-decoration: none;
        color: #626262;
      }
    }
  }
  .window {
    width: 100%;
    .header {
      background-color: rgba(182, 182, 182, 0.6);
      padding: 8px 12px;
      h3 {
        margin: 10px 0 10px 10px;
      }
    }
    .content {
      background-color: rgba(210, 210, 205, 0.6);
      padding: 15px;
      overflow: auto;
      .change {
        font-size: 12px;
        color: #727272;
        text-decoration: underline;
      }
      .fullname {
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
      }
      .description {
        margin-top: 12px;
        .value {
          font-weight: bold;
          float: right;
        }
      }
      .form-control {
        background-color: #ecebea;
      }
      .news-item {
        margin-bottom: 30px;
        overflow: auto;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .news-text {
        font-size: 12px;
      }
      .news-date {
        font-size: 18px;
      }
      .news-continue {
        color: #727272;
        text-decoration: underline;
      }
      .news-all {
        font-size: 14px;
        color: #727272;
        text-decoration: underline;
      }
      .table {
        thead {
          tr {
            th {
              border-bottom: 1px solid #b8b8b6;
            }
          }
        }
        tbody {
          tr {
            td:nth-of-type(odd) {
              background-color: rgba(210, 210, 205, 0.6);
            }
            td {
              border-top: 1px solid #b8b8b6;
            }
          }
        }
      }
      .birthday {
        .p-l-5 {
          padding-left: 5px;
        }
        .p-r-5 {
          padding-right: 5px;
        }
      }
    }
    .avatar {
      position: relative;
      display: inline-block;
      width: 125px;
      height: 125px;
      border: 2px dashed;
      border-radius: 50%;
      background-color: #b8b8b6;
      .empty {
        position: absolute;
        top: 50px;
        left: 30px;
      }
    }
    .form-group {
      ul {
        margin-bottom: 0;
        padding: 0;
        list-style: none;
        color: #f44a3f;
      }
    }
  }
  .window-referrer {
    .content {
      min-height: 177px;
    }
  }
  .btn:focus {
    outline: none;
  }
  .btn-primary {
    background-color: #1cca5a;
    border-radius: 0;
    font-size: 18px;
    border: 0;
    color: #626262;
    &:active:focus {
      color: #626262;
      background-color: #1cca5a;
    }
  }
  main {
    padding-bottom: 90px;
  }
  footer {
    height: 60px;
    width: 100%;
    background-color: rgba(182, 182, 182, 0.6);
    position: fixed;
    bottom: 0;
    border-top: 1px solid #babab8;
    .navigation {
      margin-top: 15px;
      margin-bottom: 15px;
      .nav-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .submenu {
        margin-top: 3px;

      }
      .social {

      }
    }
  }
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

@tab-light-bg: rgba(193, 193, 193, 0.6);
@tab-dark-bg: rgba(182, 182, 182, 0.6);

.nav-tabs {
  border: 0;
  li {
    &:nth-of-type(odd) {
      background-color: @tab-dark-bg;
    }
    &:nth-of-type(even) {
      background-color: @tab-light-bg;
    }
    a {
      padding: 20px 50px;
      font-size: 18px;
      border-radius: 0;
      color: #000000;
      border: 0;
      margin: 0;
      &:focus, &:hover {
        background-color: #e1972e;
      }
    }
    &.active {
      a {
        border: 0;
        background-color: #f8ac2e;
        &:focus, &:hover {
          background-color: #f8ac2e;
          border: 0;
        }
      }
    }
  }
}

.tab-pane {
  background-color: rgba(210, 210, 205, 0.6);
  padding: 18px;
  .table-activated {
    font-size: 24px;
  }
  .table-expire {
    font-size: 14px;
    margin-left: 24px;
  }
  .btn:hover {
    outline: none;
  }
  .btn-primary {
    background: none;
    border: 1px solid #626262;
    color: #626262;
    &:active:hover {
      color: #626262;
      border: 1px solid #626262;
      background-color: #d2d2cd;
    }
  }
  .table {
    margin-top: 20px;
    thead {
      tr {
        th {
          border-bottom: 1px solid #b8b8b6;
        }
      }
    }
    tbody {
      tr {
        td:nth-of-type(odd) {
          background-color: rgba(210, 210, 205, 0.6);
        }
        td {
          border-top: 1px solid #b8b8b6;
        }
      }
    }
  }
}

.middle-box {
  display: inline-block;
  margin-top: 200px;
  width: 324px;
  .btn:focus {
    outline: none;
  }
  .btn-primary {
    background-color: #1cca5a;
    border-radius: 0;
    font-size: 18px;
    border: 0;
    color: #626262;
    &:active:focus {
      color: #626262;
      background-color: #1cca5a;
    }
  }
}

.required {
  &:after {
    content: '*';
    color: #f44a3f;
  }
}