{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="active tab-even">
            <a href="#table_20">Стол старт 20$</a>
        </li>
        <li class="tab-odd">
            <a href="#table_60">Стол Silver 60$</a>
        </li>
        <li class="tab-even">
            <a href="#table_160">Стол GOLD 160$</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active col-lg-12" id="table_20">
            <div class="row">
                <div class="col-lg-6 table-activated">Стол активен до: 20.02.2012 23:15</div>
                <div class="col-lg-6">
                    <button class="btn btn-primary">Продлить</button>
                    <span class="table-expire">Осталось: <strong>3 дня</strong></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>ID</th>
                            <th>Имя Фамилия</th>
                            <th>Почта</th>
                            <th>Телефон</th>
                            <th>Квалификация</th>
                            <th>Кол. реф.</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>585</td>
                            <td>Иванов И.</td>
                            <td>ivanov@mail.ru</td>
                            <td>+7 000 000 0000</td>
                            <td>выполнена</td>
                            <td>15</td>
                            <td>активен</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>587</td>
                            <td>Петров В.</td>
                            <td>petrov@mail.ru</td>
                            <td>+7 000 000 0000</td>
                            <td>выполнена</td>
                            <td>12</td>
                            <td>активен</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>603</td>
                            <td>Сидоров И.</td>
                            <td>sidorov@mail.ru</td>
                            <td>+7 000 000 0000</td>
                            <td>выполнена</td>
                            <td>3</td>
                            <td>активен</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="table_60">
            <div class="row">
                <div class="col-lg-6 table-activated">Стол активен до: 30.05.2016 10:55</div>
                <div class="col-lg-6">
                    <button class="btn btn-primary">Продлить</button>
                    <span class="table-expire">Осталось: <strong>45 дней</strong></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>ID</th>
                            <th>Имя Фамилия</th>
                            <th>Почта</th>
                            <th>Телефон</th>
                            <th>Квалификация</th>
                            <th>Кол. реф.</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>839</td>
                            <td>Иванов И.</td>
                            <td>ivanov@mail.ru</td>
                            <td>+7 000 000 0000</td>
                            <td>выполнена</td>
                            <td>15</td>
                            <td>активен</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>984</td>
                            <td>Петров В.</td>
                            <td>petrov@mail.ru</td>
                            <td>+7 000 000 0000</td>
                            <td>выполнена</td>
                            <td>12</td>
                            <td>активен</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1023</td>
                            <td>Сидоров И.</td>
                            <td>sidorov@mail.ru</td>
                            <td>+7 000 000 0000</td>
                            <td>выполнена</td>
                            <td>3</td>
                            <td>активен</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="table_160">
            <div class="row">
                <div class="col-lg-6 table-activated">Стол активен до: 01.02.2016 10:55</div>
                <div class="col-lg-6">
                    <button class="btn btn-primary">Продлить</button>
                    <span class="table-expire">Осталось: <strong>15 дней</strong></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>ID</th>
                            <th>Имя Фамилия</th>
                            <th>Почта</th>
                            <th>Телефон</th>
                            <th>Квалификация</th>
                            <th>Кол. реф.</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>125</td>
                            <td>Иванов И.</td>
                            <td>ivanov@mail.ru</td>
                            <td>+7 000 000 0000</td>
                            <td>выполнена</td>
                            <td>15</td>
                            <td>активен</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>156</td>
                            <td>Петров В.</td>
                            <td>petrov@mail.ru</td>
                            <td>+7 000 000 0000</td>
                            <td>выполнена</td>
                            <td>12</td>
                            <td>активен</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>341</td>
                            <td>Сидоров И.</td>
                            <td>sidorov@mail.ru</td>
                            <td>+7 000 000 0000</td>
                            <td>выполнена</td>
                            <td>3</td>
                            <td>активен</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var dashboard = modulejs.require('dashboard');
        dashboard.start();
    </script>
{% endblock %}