{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div class="middle-box text-center animated fadeInDown login-form">
        <a class="icon-logo logo" href="{{ path('app_index') }}"></a>
        <h3>{{ 'ticket.prolong.header'|trans }}</h3>
        <p>{{ 'ticket.prolong.subheader'|trans }}</p>
        {{ form(form) }}
    </div>
{% endblock %}
