/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-bell {
  background-image: url(../img/sprites.png);
  background-position: 0px -73px;
  width: 26px;
  height: 28px;
}
.icon-checked {
  background-image: url(../img/sprites.png);
  background-position: 0px -41px;
  width: 39px;
  height: 31px;
}
.icon-instagram {
  background-image: url(../img/sprites.png);
  background-position: -80px -41px;
  width: 30px;
  height: 30px;
}
.icon-logo {
  background-image: url(../img/sprites.png);
  background-position: 0px 0px;
  width: 218px;
  height: 40px;
}
.icon-no_checked {
  background-image: url(../img/sprites.png);
  background-position: -40px -41px;
  width: 39px;
  height: 31px;
}
.icon-odnoklassniki {
  background-image: url(../img/sprites.png);
  background-position: -111px -41px;
  width: 30px;
  height: 30px;
}
.icon-vkontakte {
  background-image: url(../img/sprites.png);
  background-position: -142px -41px;
  width: 30px;
  height: 30px;
}
.icon-youtube {
  background-image: url(../img/sprites.png);
  background-position: -173px -41px;
  width: 30px;
  height: 30px;
}
